<!-- // hiden -->
<section class="authorization">
<div class="backdrop-authorization "> 
    <div class="box-authorization "> 
        <div class="btn-close-authorization">
            <svg class="btn-push-modal-icon" width="18" height="9">
                <use href="../img/global/icons.svg#icon-x-close"></use>
            </svg>
        </div>
            <form action="#" class="form-authorization" id="form-authorization">
                <div class="div-user-filds">
                    <div class="div-user-fild">
                        <label class="modal-label" for="user-name">
                        </label>
                        <input class="input-user-fild" type="text" name="name" id="user-name" placeholder="Full Name" tabindex="1">
                    </div>
                    <div class="div-user-fild">
                        <label class="modal-label" for="user-email">
                        </label>
                        <input class="input-user-fild" type="email" name="email" id="user-email" placeholder="Email" tabindex="2">
                    </div>
                    <div class="div-user-fild">
                        <label class="modal-label" for="user-password">
                        </label>
                        <input class="input-user-fild" type="password" name="password" id="user-password" placeholder="Password" tabindex="3">
                    </div>
                </div>
                <button class="btn-sign-up">Sign up</button>
                <div class="labels-sign"><span class="label-sign-up" >Sign up</span><span class="label-sign-in">Sign in</span></div>
                </div>
            
            </form>

            
            <button class="btn-sign-in is-hidden">Sign in</button>
    </div>
</div>
</section>