<footer class="footer">
    <div class="footer-box ">
        <div class="footer-box2 ">
        <div class="footer-box-nav">
            <a class="header-logo-wrapper" href="./index.html">
                <svg class="header-logo-1" width="24" height="24">
                    <use href="./img/global/header-icons.svg#header-logo"></use>
                </svg>
                <svg class="header-logo-2" width="77.001" height="13.266">
                    <use href="./img/global/header-icons.svg#bookshelf-logo-2"></use>
                </svg>
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="./index.html" class="a-home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="./shoppinglist.html" class="a-shoppinglist">Shopping list
                            <svg class="shopping-bag" width="
                  13.33" height="16.67">
                                <use href="./img/global/header-icons.svg#shopping-bag"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
                <img class="cat-img" src="../img/global/cat_day_1.svg" alt="Cat" height="100">
        </div>

    </div>
<div class="footer-text-box"></div>
    <p class="footer-text">2023 Team project - Bookshelf developed by team 'Cats'</p>
</div>

    </div>
<div class="footer-cat-box"></div>
</footer>