<!-- Slider main container -->
<div class="box-sup">
    <div class="name-box-su">
        <h2 class="head-su">Support Ukraine
            <svg class="trizyb" width="20" height="32" aria-label="Trizub">
                <use href="./img/global/icons.svg#icon-trizub"></use>
            </svg>
        </h2>
    </div>

    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <p class="support__number">1</p><a
                    href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/children.png 1x,
                      ./img/support-ukraine/children@2x.png 2x
                    " src="./img/support-ukraine/1-1x.png" alt="save-the-children" width="159" height="32" /></a>
            </div>
            <div class="swiper-slide">
                <p class="support__number">2</p><a href="https://www.projecthope.org/country/ukraine/"
                    class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/hope.png 1x,
                      ./img/support-ukraine/hope@2x.png 2x
                    " src="./img/support-ukraine/2-1x.png" alt="project-hope" width="96" height="32" /></a>
            </div>
            <div class="swiper-slide">
                <p class="support__number">3</p><a href="https://internationalmedicalcorps.org/country/ukraine/"
                    class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/med-corps.png 1x,
                      ./img/support-ukraine/med-corps@2x.png 2x
                    " src="./img/support-ukraine/3-1x.png" alt="international-medical-corps" width="137"
                        height="32" /></a>

            </div>
            <div class="swiper-slide">
                <p class="support__number">4</p><a href="https://www.razomforukraine.org/" class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/razom.png 1x,
                      ./img/support-ukraine/razom@2x.png 2x
                    " src="./img/support-ukraine/4-1x.png" alt="razom" width="137" height="32" /></a>

            </div>
            <div class="swiper-slide">
                <p class="support__number">5</p><a href="https://www.actionagainsthunger.org/location/europe/ukraine/"
                    class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/hunger.png 1x,
                      ./img/support-ukraine/hunger@2x.png 2x
                    " src="./img/support-ukraine/5-1x.png" alt="action-against-hunger" width="89" height="32" /></a>

            </div>
            <div class="swiper-slide">
                <p class="support__number">6</p><a href="https://prytulafoundation.org/en" class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/prytula.png 1x,
                      ./img/support-ukraine/prytula@2x.png 2x
                    " src="./img/support-ukraine/6-1x.png" alt="sergiy-prytula" width="149" height="32" /></a>

            </div>
            <div class="swiper-slide">
                <p class="support__number">7</p><a href="https://www.msf.org/ukraine" class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/frontieres.png 1x,
                      ./img/support-ukraine/frontieres@2x.png 2x
                    " src="./img/support-ukraine/7-1x.png" alt="medecins-sans-frontieres" width="127"
                        height="32" /></a>

            </div>
            <div class="swiper-slide">
                <p class="support__number">8</p><a href="https://www.wvi.org/emergencies/ukraine" class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/vision.png 1x,
                      ./img/support-ukraine/vision@2x.png 2x
                    " src="./img/support-ukraine/8-1x.png" alt="world-vision" width="119" height="32" /></a>

            </div>
            <div class="swiper-slide">
                <p class="support__number">9</p><a href="https://u24.gov.ua/uk" class="support__link">
                    <img class="support__img" srcset="
                      ./img/support-ukraine/united.png 1x,
                      ./img/support-ukraine/united@2x.png 2x
                    " src="./img/support-ukraine/9-1x.png" alt="united24" width="143" height="32" /></a>

            </div>
        </div>
    </div>
    <div class="cont-for-btn">
        <div class="loader" style="display:none"></div>
        <div class="button-prev-phon">

            <div class="swiper-button-prev"></div>
            <svg class="icon-arbottom-btn" width="28" height="28">
                <use href="./img/global/icons.svg#icon-arr-bot"></use>
            </svg>
            
        </div>
    </div>
</div>