<div class="box-support-ukraine">
<div class="name">
  <h2 class="pharag">Support Ukraine
    <svg
      class="trizyb"
      width="20"
      height="32"
      aria-label="Trizub"
    >
      <use href="./img/global/icons.svg#icon-trizub"></use>
    </svg>
  </h2>




  </div>

<ul class="spisok js-support_list"></ul>

<button type="button" class="supbtn js-support_btn">
  <svg
    class="support__btn_icon"
    width="20"
    height="20"
    aria-label="Show more"
  >
    <use href="./img/global/icons.svg#icon-slider"></use>
  </svg>
</button>
</div>
