.backdrop-block {
  max-height: 100vh;
  overflow: hidden;
}
.backdrop-authorization {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4f2ee8;
  /* background-color: rgba(46, 47, 66, 0.4); */

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.box-authorization {
  z-index: 11;
  width: 579px;
  height: 516px;
  border-radius: 18px;
  border: 2px solid #111;
  background: #f6f6f6;
  position: absolute;
  top: 50%;
  right: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
