.header {
  padding: 18px 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid #111;
  transition: background-color 0.5s;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 27px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 27px 24px;
  }
}

@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
  .a-shoppinglist {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 24px;
  }
}
/* .nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
} */

.a-home {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
}

.a-shoppinglist {
  color: #111;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: color 0.5s;
}

.a-shoppinglist-active {
  padding: 8px 16px;
  background: #eac645;
  border-radius: 36px;
  font-weight: 700;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

body {
  transition: background-color 0.5s;
}

.dark-mode {
  background-color: #202024;
  color: #fff;
}

.header-dark-mode {
  background-color: #111;
  border: 1.5px solid #fff;
  color: #fff;
}

.dark-mode-header-link {
  color: #fff;
}

.dark-mode-main-content {
  background-color: #202024;
}
<<<<<<< Updated upstream

=======
.dark-mode-all-categoriesdark-mode-category-item {
  color: #ffffff99;
}
>>>>>>> Stashed changes
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-left: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1) inset;

  transition: background 500ms;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  width: 17px;
  height: 17px;
  left: 2px;
  bottom: 1.52px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(rgba(79, 46, 232, 1), rgba(104, 104, 104, 1));
}

input:checked + .slider:before {
  transform: translateX(19px);
}
