.head-main-h {
  color: --black-color;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -1.92px;
  margin-left: 40px;
}

.head-main-hdecor {
  color: rgba(79, 46, 232, 1);
  margin-left: 0;
}

.main-content {
  display: flex;
  /* flex-wrap: wrap; */
}

.side-bar {
  display: flex;
  flex-direction: column;
}
.categoryItem {
  /* border: 1px black solid; */
  height: 40px;
}

.main-content-page {
  background-color: rgb(239, 239, 240);
  min-width: 280px;
  width: 996px;
  max-width: 996px;
  height: auto;
}
.main-content-list {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 24px;
}

.photo-card {
  width: 180px;
  height: 306px;
}
.images-prev {
  width: 180px;
  height: 256px;
  border-radius: 8px;
}

.info-itemt-itle {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  text-transform: uppercase;
}
.info-item-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}
