/* All categories */

/* all categories box div*/

.all-categories-box {
  min-width: 280px;
  width: 335px;
  height: 228px;
  overflow-y: scroll;
  margin-bottom: 40px;
}

.all-categories-box::-webkit-scrollbar {
  max-width: 8px;
  max-height: 14px;
}

.all-categories-box::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
  width: 8px;
  height: 114px;
}

@media only screen and (min-width: 768px) {
  .all-categories-box {
    overflow-y: scroll;
  }
  .all-categories-box::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 12px;
    width: 8px;
    height: 167px;
  }
}

/* all categories item li*/

.category-item {
  font-size: 16px;
  line-height: 18px;
  /*color: #11111199;*/
  text-align: left;
}

.category-item:focus {
  color: var(--violet-color);
}

.category-item:hover {
  color: var(--violet-color);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .category-item {
    font-size: 16px;
    line-height: 24px;
    /*color: #11111199;*/
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .category-item:hover {
    color: var(--violet-color);
    text-transform: uppercase;
    font-weight: 700;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
}

/* all categories list  ul*/

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .categories-list {
    gap: 32px;
  }
}
.category-item {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
