/* .all-part-to-box {
   border: 2px solid red;
   display: block } 
.bestellers-part {
  display: flex;
  flex-wrap: wrap;
  flex-basis: ((100% - 96px) / 5);
    background-color: chartreuse; 
}
.images-prev {
  display: block;
}
.part-cards-list {
  border: 2px solid black; */
/* display: flex;
   flex-wrap: wrap; */
/* flex-basis: ((100% - 96px) / 5);
}   */
.part-cards-list-item:hover .hover-text-card,
.part-cards-list-item:focus .hover-text-card {
  transform: translateY(0%);
}
