/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./part-all-categories.css');
@import url('./support-ukraine.css');
@import url('./main-content-page.css');
@import url('./popup-menu.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  -- black-color: rgba(17, 17, 17, 1);
  -- dark-gray: rgba(17, 17, 17, 1);
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main-content {
  display: flex;
  /* flex-wrap: wrap; */
}

.side-bar {
  display: flex;
  flex-direction: column;
}


